@charset "utf-8";

/*
html {height: 100%;overflow:hidden}

body {
    background-color: cadetblue;
}
*/

.mosaic{
  width: 310px;
  height: 300px;
  background: url(../images/mosaic.png);
    background-color: #fff;
  background-position: -1860px;
  position: absolute; 
  margin: auto; 
  top: 0; left: 0; bottom: 0; right: 0;
  border: none;

    
  /* 
  shorthand would be 
  -webkit-animation: gif 1s steps(17,start) 1.5s 1 forwards; 
  but that does not work with safari.
  */
  
  -webkit-animation-name: gif;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: steps(7,start);
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: gif 1s steps(7,start) 1.5s 1 forwards;
  -ms-animation: gif 1s steps(7,start) 1.5s 1 forwards;
  -o-animation: gif 1s steps(7,start) 1.5s 1 forwards;
  animation: gif 1s steps(7,start) 1.5s 1 forwards;
}
  
  @-webkit-keyframes gif{
  0% {background-position: -2170px}
  100% {background-position: 1px}
  }

  @-moz-keyframes gif{
  from{background-position: -2170px}
  to{background-position: 1px}
  }

  @-ms-keyframes gif{
  from{background-position: -2170px}
  to{background-position: 1px}
  }

  @-o-keyframes gif{
  from{background-position: -2170px}
  to{background-position: 1px}
  }

  @keyframes gif{
  from{background-position: -2170px}
  to{background-position: 0}
  }

/*
 @-webkit-keyframes fadein {
	0%{opacity:0;}
	75%{opacity:0.5;}
     100% {opacity:1;}
}
@-webkit-keyframes fadeout {
	0% {opacity :1;height:200px;}
	95%{height:200px;}
	100% {opacity:0;}
}*/
